* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color:black;
    overflow-y: scroll;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    margin: 15px 150px;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: bold;
    font-size: large;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20;
    margin: 0;
    padding: 0;
    align-items: center;
}
a {
    display: block;
    padding: 0px 20px;
    color: black;
    font-size: large;
    text-decoration: none;
}
.nav-links a {
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    text-decoration: solid;
}
.nav-links .login-button {
    margin-left: 20px;
}
.homepage-section1 {
    margin: 15px 150px;
    padding: 15px 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
}
h1 {
    font-size: 60px;
}
h2 {
    padding: 5px 0px 20px;
    font-size: 20px;
    font-weight: 100;
    color: gray;
    font-size: 20px;
}
h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
p {
    font-size: 20px;
}
.homepage-section2 {
    margin-left: 150px;
    margin-top: 25px;
    padding: 15px 100px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: flex-start; 
    overflow: hidden;
    align-content: space-between;
}
.features-container {
  display: flex;
  justify-content: center;
  gap: 30px 0px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 50px;
}
.feature-card {
  background: white;
  margin: 10px 50px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  max-width: 300px;
  transition: transform 0.3s;
}
.feature-card:hover {
  transform: translateY(-10px);
}
.feature-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}
.slider-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 90%;;
  height: 640px;
  object-fit: cover;
}
.slider-image {
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;;
  height: 640px;
  object-fit: cover;
}
.homepage-section3 {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
  padding: 15px 100px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-end; 
}
.how-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin: 25px 0px;
  padding: 15px 0px;
}
.how-step {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 30px;
  max-width: 300px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}
.how-step:hover {
  transform: translateY(-10px);
}
.step-number {
  background-color: #1f7aed;
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-bottom: 15px;
  font-size: 20px;
}
.homepage-section4 {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
  padding: 15px 100px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center
}
.use-cases-grid {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.use-case-card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 350px;
  text-align: center;
  transition: transform 0.3s ease;
}
.use-case-card:hover {
  transform: translateY(-5px);
}
.use-case-card img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}
.use-case-card {
  font-size: 20px;
  margin-bottom: 10px;
}
.use-case-card {
  font-size: 14px;
  color: #000000;
}
.homepage-section5 {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
  padding: 15px 100px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center
}
.homepage-section5 h1 {
  margin-top: 50px;
}
.homepage-section5-button {
  margin-top: 25px;
  margin-bottom: 25px;
}
.homepage-section5-button a {
  font-size: 30px;
  color: white;
}
.footerpage {
  background-color: #10b981;
  max-width: 100%;
}
.footerpage-container {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 150px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.footerpage-container h3 {
  color: white;
}
.footerpage-column {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 100px;
}
.footerpage-column a {
  color: white;
  
}
.footerpage-legal {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  color: white;
}
.footerpage-legal p {
  font-size: 13px;
}
.pricepage {
  min-height: 80vh;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.p-selectbutton {
  flex-direction: row !important;
  justify-content: center !important;
  transform: translateY(-200%);
}
.p-togglebutton-label {
  font-size: 20px !important;
  font-weight: 780;
}
.price-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 1350px;
  transform: translateX(20.5%);
  height: 550px;
}
.price-card {
  border: 1px solid #06421f;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.price-card:hover {
  transform: translateY(-10px);
  transition: transform 0.4s;
}
.price-card h3 {
  margin-top: 35px;
  font-size: 40px;
}
.price-card .price {
  font-size: 30px;
  font-weight: 780;
  margin: 15px 0;
  color: #333;
}
.price-card button {
  margin-top: 90px;
  padding: 10px 20px;
  border: none;
  background-color: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: block;
}
.price-card p {
  padding-top: 20px;
  padding-left: 20px;
  /* padding-bottom: 23px; */
  font-size: 15px;
  font-weight: 700;
}
.servicepage {
  min-height: 95.2vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.servicepage-menu {
  align-items: flex-end;
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 90px;
  background-color: #10b981;
  justify-content: center;
}
.drawer-toggle-btn {
  display: flex;
  position: absolute;
  left: 0px; /* outside the 150px margin */
  top: 555px;
  transform: translateY(-50%);
  z-index: 10; /* ensure it's above other elements */
  height: 850px;
}
.icon {
  margin-left: 50px;
  margin-right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  font-size: 30px;
  color: #10b981;
  cursor: pointer;
}
.icon:hover {
  background-color: #ffffffb0;
}
.icon i:hover {
  color: #10b98173;
  cursor: pointer;
}
.p-menu-item span{
  padding-left: 10px!important;
  font-size: 15px !important;
  padding-bottom: 5px;
}
.profile-info {
  position: absolute;
  left: 88.5%;
  transform: translateX(-50%);
  font-size: 10px;
  margin: 0;
  width: 170px;
}
.profile-info p {
  transform: translateX(-15%);
  padding-bottom: 5px;
  font-size: 13px;
  color: white;
  padding-top: 3px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  font-weight: 790;
}
.p-drawer-content a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 45px !important;
  font-size: 20px !important;
}
.logo-servicepage {
  position: absolute;
  left: 5.5%;
  font-size: 30px;
  margin: 0;
}
.logo-servicepage h1 {
  font-size: 35px;
  color: white;
}
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.login-content {
  text-align: center;
}
.login-button {
  padding: 12px 24px;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.login-button:hover {
  background-color: #0ea76d;
}
.verify-page {
  min-height: 65vh;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 150px;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;
}
.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.loginform {
  background: white;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
  width: 450px;
  height: 450px;
}
.loginform h1 {
  font-size: 30px;
  margin-bottom: 50px;
}
.loginform button {
  font-size: 20px;
  width: 370px;
  height: 50px;
  border-radius: 12px;
}
.formusername {
  margin-bottom: 10px;
}
.formusername input {
  width: 370px;
}
.formusername .p-message-text{
  font-size: 11px !important;
  padding-left: 5px !important;
  padding-top: 2px !important;
}
.formpassword {
  margin-bottom: 10px;
}
.formpassword input{
  width: 370px;
}
.formpassword .p-message-text{
  font-size: 11px !important;
  padding-left: 5px !important;
  padding-top: 2px !important;
}
.forgetpassword{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 15px;
}
.forgetpassword a {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 35px;
  text-align: center;
  color: grey;
  font-size: 12px;
}
.signup {
  display: inline-flex;
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
  color: grey;
}
.signup a {
  text-decoration: none;
  font-size: 15px;
  color: #10b981;
  text-decoration: none;
  padding: 0px 5px;
}
.createaccountpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.createaccountform {
  background: white;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
  width: 450px;
   min-height: 650px;
}
.createaccountform h1 {
  font-size: 30px;
  margin-bottom: 50px;
}
.createaccountform button {
  font-size: 20px;
  width: 370px;
  height: 50px;
  border-radius: 12px;
  margin-top: 35px;
}
.checkaccount {
  display: inline-flex;
  text-align: center;
  padding-top: 20px;
  color: grey;
  font-size: 15px;
}
.checkaccount a {
  text-decoration: none;
  font-size: 15px;
  color: #10b981;
  padding: 0px 5px;
}
.permissionFlag {
  display: inline-flex;
  padding-top: 10px;
}
.permissionFlag p {
  padding-left: 10px;
  color: grey;
  font-size: 15px;
}
.permissionFlag label {
  text-decoration: underline;
  font-size: 15px;
  color: #10b981;
  padding-left: 5px;
}
.createimage-page {
  min-height: 75vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.input-properties {
  width: 400px;
  height: 850px;
  display: flex;
  flex-direction: column;
  transform: translateX(30%);
  border: 2.5px solid #10b981;
  border-radius: 12px;
}
.input-properties h2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.input-roomsize {
  font-size: 15px; 
  font-weight: 700; 
  color: grey; 
  margin-bottom: 20px; 
}
.input-roomsize label {
  display: block;
  margin-bottom: 8px;
  margin-left: 20px;
}
.p-inputnumber-fluid {
  width: 95% !important;
  padding-left: 20px !important; 
}
.input-roomsize .p-message-text { 
  font-size: 13px; 
  color: #6c757d; 
  background-color: transparent;
  border: none;
  transform: translateX(20px);
  padding-top: 10px;
}
.input-roomstyle {
  font-size: 15px; 
  font-weight: 700; 
  color: grey; 
  margin-bottom: 20px; 
}
.input-roomstyle label {
  display: block;
  margin-bottom: 8px;
  margin-left: 20px;
}
.p-inputtext-fluid {
  width: 90% !important;
  transform: translateX(20px);
}
.input-roomstyle .p-message-text { 
  font-size: 13px; 
  color: #6c757d; 
  background-color: transparent;
  border: none;
  transform: translateX(20px);
  padding-top: 10px;
}
.input-roomtype {
  font-size: 15px; 
  font-weight: 700; 
  color: grey; 
  margin-bottom: 20px; 
}
.input-roomtype label {
  display: block;
  margin-bottom: 8px;
  margin-left: 20px;
}
.p-inputtext-fluid {
  width: 90% !important;
  transform: translateX(20px);
}
.input-roomtype .p-message-text { 
  font-size: 13px; 
  color: #6c757d; 
  background-color: transparent;
  border: none;
  transform: translateX(20px);
  padding-top: 10px;
}
.select-size {
  font-size: 15px; 
  font-weight: 700; 
  color: grey; 
  margin-bottom: 20px; 
}
.select-size label {
  display: block;
  margin-bottom: 8px;
  margin-left: 20px;
}
.p-select {
  width: 90% !important;
  transform: translateX(20px);
  font-weight: 100;
}
.input-etc {
  font-size: 15px; 
  font-weight: 700; 
  color: grey; 
  margin-bottom: 20px;  
}
.input-etc label {
  display: block;
  margin-bottom: 8px;
  margin-left: 20px;
}
.p-textarea {
  width: 90% !important;
  transform: translateX(20px);
  font-weight: 100;
}
.input-etc .p-message-text { 
  font-size: 13px; 
  color: #6c757d; 
  background-color: transparent;
  border: none;
  transform: translateX(20px);
  padding-top: 10px;
}
.input-properties .p-button {
  width: 50% !important;
  transform: translateX(100px);
  margin-top: 15px;
}
.image-result {
  width: 1250px;
  height: 850px;
  display: flex;
  flex-direction: column;
  border: 2.5px solid #10b981;
  border-radius: 12px;
}
.image-result h2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.image-result img {
  margin-top: 60px;
  margin-bottom: 50px;
  transform: translateX(120px);
  z-index: 0;
}
.image-result .p-button {
  width: 20% !important;
  transform: translate(490px, 40px);
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  flex-direction: column;
  backdrop-filter: blur(2px);
}
.loading-content {
  text-align: center;
}
.loading-content p {
  margin-top: 10px;
}
.renovate-image-result {
  width: 1250px;
  height: 850px;
  display: flex;
  flex-direction: column;
  border: 2.5px solid #10b981;
  border-radius: 12px;
}
.renovate-image-result h2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.renovate-image-result img {
  /* transform: translateX(30px); */
  z-index: 0;
}
.renovate-image-result .p-button {
  width: 20% !important;
  transform: translate(490px, 40px);
}
.renovate-image-result-wrapper .p-image-preview-mask {
  transform: translateX(30px) !important;
}
.renovated-image {
  max-width: 1280px;
  max-height: 720px; 
  /* transform: translateX(-100px); */
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}